#login .container #login-row #login-column #login-box {
  margin-top: 20px;
  max-width: 700px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.big-checkbox {
  width: 20px;
  height: 20px;
}
