<div id="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" [formGroup]="registerForm">
              <h3 class="text-center text-info">Register</h3>
              <div class="form-group">
                <label for="name" class="text-info">Name:</label><br />
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="form-control"
                  formControlName="name"
                />
              </div>
              <div class="form-group">
                <label for="surname" class="text-info">Surname:</label><br />
                <input
                  type="text"
                  name="surname"
                  id="surname"
                  class="form-control"
                  formControlName="surname"
                />
              </div>
              <div class="form-group">
                <label for="password" class="text-info">Password:</label><br />
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  formControlName="password"
                />
              </div>
              <div class="form-group">
                <label for="email" class="text-info">E-mail:</label><br />
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control"
                  formControlName="email"
                />
              </div>
              <h3 class="text-center text-info">Survey</h3>
              <div class="form-group">
                <label class="text-info">Select the categories that interest you:</label><br />
                <div class="form-check form-check-inline">
                  <input class="form-check-input big-checkbox" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">Music</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input big-checkbox" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">Games</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input big-checkbox" type="checkbox" id="inlineCheckbox3" value="option3">
                  <label class="form-check-label" for="inlineCheckbox3">Cooking</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input big-checkbox" type="checkbox" id="inlineCheckbox4" value="option4">
                  <label class="form-check-label" for="inlineCheckbox4">Meeting</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input big-checkbox" type="checkbox" id="inlineCheckbox5" value="option5">
                  <label class="form-check-label" for="inlineCheckbox5">Movies</label>
                </div>
              </div>
              <div class="form-group">
                <label class="text-info">Do you prefer to spend your time actively or stay at home?</label><br />
                <div class="form-check form-check-inline">
                  <input class="form-check-input big-checkbox" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="radio1">
                  <label class="form-check-label" for="inlineRadio1">Active</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input big-checkbox" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="radio2">
                  <label class="form-check-label" for="inlineRadio2">At home</label>
                </div>
              </div>
              <div class="form-group">
                <label class="text-info">Do you prefer movies or games?</label><br />
                <div class="form-check form-check-inline">
                  <input class="form-check-input big-checkbox" type="radio" name="inlineRadioOptions" id="inlineRadio11" value="radio1">
                  <label class="form-check-label" for="inlineRadio11">Movies</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input big-checkbox" type="radio" name="inlineRadioOptions" id="inlineRadio22" value="radio2">
                  <label class="form-check-label" for="inlineRadio22">Games</label>
                </div>
              </div>
              <div class="form-group">
                <br />
                <button
                  type="submit"
                  class="btn btn-info btn-md"
                  (click)="onSubmit()"
                >
                  Sing up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  