<p>Find activities for you</p>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Sport</a>
    <ng-template ngbNavContent
      ><app-suggestion-list [suggestionList]="suggestionListSport"
      ></app-suggestion-list
    ></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Games</a>
    <ng-template ngbNavContent
      ><app-suggestion-list [suggestionList]="suggestionListGames">
      </app-suggestion-list
    ></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Music</a>
    <ng-template ngbNavContent
      ><app-suggestion-list [suggestionList]="suggestionListMusic">
      </app-suggestion-list
    ></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Cooking</a>
    <ng-template ngbNavContent
      ><app-suggestion-list [suggestionList]="suggestionListCooking">
      </app-suggestion-list
    ></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Meeting</a>
    <ng-template ngbNavContent
      ><app-suggestion-list [suggestionList]="suggestionListMeeting">
      </app-suggestion-list
    ></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Selected for You</a>
    <ng-template ngbNavContent
      ><app-suggestion-list [suggestionList]="suggestionListSelected">
      </app-suggestion-list
    ></ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
