<p>Find activities for you</p>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem *ngFor="let category of suggestionMap | keyvalue;">
    <a ngbNavLink>{{category.key | titlecase}}</a>
    <ng-template ngbNavContent
      ><app-suggestion-list [suggestionList]="category.value"
      ></app-suggestion-list
    ></ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Selected for You</a>
    <ng-template ngbNavContent
      ><app-suggestion-list [suggestionList]="suggestionListSelected">
      </app-suggestion-list
    ></ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
